<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hrms_xyug">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_ALARM" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_hrms"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_hrms"
        android:supportsRtl="true"
        android:theme="@style/Theme.XYUG"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ManagerApproveRejectSingleEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerApproveRejectActivity"
            android:exported="false" />
        <activity
            android:name=".ClockInClockOutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Leaves.NotifyEmpActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.Leaves.LeaveInfoActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.Leaves.ApplyLeave"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddExperienceActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddEducationActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan" /> <!-- <activity -->
        <!-- android:name=".AddProfessionalSummaryActivity" -->
        <!-- android:windowSoftInputMode="adjustPan" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="portrait"/> -->
        <activity
            android:name=".SingleEmployeeActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".PeersMyTeamActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".OtpActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NewemployeeAcitivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AnniversarytAcitivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".BirthdayAcitivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".RelationDetailsActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AddressDetailsActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".EducationDetailsActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ProfessionalSummaryDetailsActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ExperienceDetailsActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ContactDetailsActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".PersonalDetailsActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PersonalDetails"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AnnouncementAcitivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AllEmployeesActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".PerformanceReportActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AchivementLetterActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".HomeActivityViewController"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.xyug.hrms.SplashScreen"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- <provider -->
        <!-- android:name="androidx.core.content.FileProvider" -->
        <!-- android:authorities="${applicationId}.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/provider_paths"/> -->
        <!-- </provider> -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.hrms_xyug.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>